.outer{
    filter: drop-shadow(0px 0px 7px #333333);
}
.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    filter: drop-shadow(0 0 7px white);

}

.profile:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px white;
}

.profile-pic{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
    background-color: rgb(77, 94, 145);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(43, 24, 62);
    font-size: 27px;
    font-weight: 800;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.info{
display:none;
z-index: 1000;
position: absolute;
top: 7vh;
    left: 153vh;
text-align: center;
background-color: rgba(0, 0, 0, 0.6);
width: 30vb;
    height: 19vh;
border:2px solid black;
border-radius: 5px;
backdrop-filter: blur(10px);
}


#items{
    padding-left: 0%;
}
body {
    margin: 0;
    padding: 0;
    /* background-image: url(1.jpeg); */
    /* background-size: cover; */
    scroll-behavior: smooth;
    background-color: #050609;

}


.nav {
    text-decoration: none;
    color: b0lack;
    font-size: 20px;
}

.nav:hover {
    text-shadow: 2px 2px 12px rgb(255, 255, 255);
    transform: translateY(5px);
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}


.innerbox {
    /* background-image: url(5.jpeg); */
    /* background-color: #28282B; */
    background-size: cover;
    border: 5px solid black;
    margin: 30px;
    border-radius: 11px;
    /* backdrop-filter: blur(3px); */
    /* filter: drop-shadow(0px 0px 18px white); */ 
    background-color: black ;
}

.header {
    height: 60px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:#001219;
    border-radius: 17px;
    border-width: 6px;
    border-color: black;
    opacity: 0.95;
    position: relative;

}

.logo {
    margin-right: 50vb;
    margin-left: 20vb;
    color: white;
    font-size: 40px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    /* font-style: italic; */
    text-shadow: 0px 0px 7px white;
    width: 45vb;
    display:inline-block



}
.logout{
    display: flex;
}

.nav {
    margin-right: 34px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
}

.feel {
    display: block;
    text-align: center;
    font-size: larger;
    background-image: url(5.jpeg);
    background-size: contain;
    height: 351px;
    /* margin-top: 0px; */


}

#listen {
    margin-top: 15px;
    color: white;
    border: 5px solid white;
    padding: 22px;
    border-radius: 10px;
    width: 148px;
    background-color: #552322;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}
#listen:hover {
    color:white;
    background-color: black;
    transform: scale(1.1);
    transition: all 0.3s ease-out;
    filter: drop-shadow(0 0 20px white);
    
}
#listen:active{
    filter: drop-shadow(0 0 15px white);
}

.beat {
    font-size: 100px;
    margin-top: 0px;
    font-family: "Poppins", sans-serif;
    background-clip: text;
    /* background-image: linear-gradient(to right, #3725a9, #aa1163, #5b0d6e); */
    color: white;
    padding-top:89px;
    
}

.line {
    font-size: 29px;
    margin-top: -120px;
    font-family: "Poppins", sans-serif;
    background-clip: text;
    color:white;
    /* background-image: linear-gradient(to right, #e5f411, #9d10bc); */

}

.Popular {
    margin-top: 40px;
    /* background-color: #343434; */
    background-color: black;
    padding: 16px;
    /* filter: drop-shadow(0 0 7px white); */
    /* border-radius: 28px; */
}

#heading {
    text-align: center;
    margin-left: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 850;
    color: black;
    background-color: white;
    border-radius: 24px;
    border: 1px solid black;
    filter: drop-shadow(0 0 5px white);
    /* background: linear-gradient(to right,#343434,#28282B,#353935); */

}


.play {
    display: flex;
    justify-content: space-around;
}

.photo {
    text-align: center;
    cursor: pointer;


}

.photo img {
    border-radius: 10px;
    align-self: center;
    height: 35vh;
    width: 30vb;
    border: 3px solid white;
}

.photo img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    filter: drop-shadow(0px 0px 5px white);
    box-shadow: 0px 0px 40px black;


}

.bio{
     font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 23px;
  list-style: none;
 
}

.bio:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
    transform: translateX(6px);
}
    

ul{
    padding-left: 0%;
    width: 30vb;
    height: 40vh;
    position: relative;
    
}
.artists{
    /* margin-top: 60px; */
    background-color: black;
    padding: 16px;
    /* border-radius: 28px; */
}

.pfp img {
    border-radius: 10px;
    align-self: center;
    height: 35vh;
    width: 30vb;
    border: 3px solid white;
}

.pfp img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    filter: drop-shadow(0px 0px 2px white);
    box-shadow: 0px 0px 40px black;


}
.pfp{
    text-align: center;
    cursor: pointer;
}

.Art{
    display: flex;
    justify-content: space-around;
}
.artname{
    font-family: "Poppins", sans-serif; 
    font-size: 18px;
    font-weight: 700;
    color: black;
    border: 3px solid white ;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
